html {
    scroll-behavior: smooth;
}
.movie-section{
    background: linear-gradient(45deg, rgba(153, 218, 255, 1) 0%, rgba(133, 206, 238, 1) 13%, rgba(0, 128, 128, 1) 100%);
    height: auto;
    overflow: hidden;
}
.centerbutton{
    text-align: center;
}
.fixedmoviebutton {
    left: 1.3rem;
    top: 0;
    color: black;
    position: fixed;
    z-index: 10000;
    transform: all .4s;
}